<header class="bar-header">
    <a id="Meniu" role="button">
        <svg id="open" class="icon-Meniu"><use xlink:href="#icon-Meniu"></use></svg>
    </a>
    <p class="logo">
        <a href="{{ site.baseurl }}/">
            {% if site.use_logo %}
                {% include logo.html %}
            {% else %}
                <strong>auskaras.lt</strong>
            {% endif %}
        </a>
    </p>
    <a id="search" class="dosearch" role="button">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
</header>

<div id="mask" class="overlay"></div>

{% include Meniu.html %}
{% include search.html %}
